

/* ---------- Global ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: #0d1117;
    color: #f0f6fc;
    line-height: 1.7;
}

/* ---------- Layout ---------- */

.container {
    width: min(1000px, 90%);
    margin: auto;
}
nav {

    position: sticky;
    top: 0;

    background: #0d1117dd;

    backdrop-filter: blur(12px);

    border-bottom: 1px solid #30363d;

    z-index: 100;
}

nav .container {

    display: flex;

    justify-content: space-between;

    align-items: center;

    height: 70px;
}

nav ul {

    display: flex;

    list-style: none;

    gap: 35px;
}

nav a {

    color: white;

    text-decoration: none;

    transition: .2s;
}

nav a:hover {

    color: #58a6ff;
}
/* ---------- Hero ---------- */

header {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 15px;
}

.hero h2 {
    color: #58a6ff;
    font-weight: 500;
    margin-bottom: 30px;
}

.hero p {
    max-width: 650px;
    color: #c9d1d9;
    font-size: 1.1rem;
}

/* ---------- Sections ---------- */

section {
    padding: 100px 0;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 25px;
}

section p {
    color: #c9d1d9;
}

/* ---------- Cards ---------- */

.card {
    background: #161b22;
    padding: 25px;
    border-radius: 12px;
    margin-top: 20px;
    transition: 0.25s;
    border: 1px solid #30363d;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #58a6ff;
}

/* ---------- Links ---------- */

a {
    color: #58a6ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ---------- Footer ---------- */

footer {
    padding: 50px;
    text-align: center;
    color: #8b949e;
}